<!DOCTYPE html>

<html ng-app="@ViewBag.AngularApp">
<head>
    <title>MoneyFlow - @ViewBag.Title</title>
    @Styles.Render("~/client/css/style")
</head>
<body>
    <header id="header" role="banner">
        <nav class="menubar" role="navigation">
            <div class="content text-center">
                <a href="#">MF</a>
                <div id="account" class="right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @:Authenticated
                    }
                    else
                    {
                        <a href="#">Register</a>
                        @Html.ActionLink("Sign In", "SignIn", "Account")
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="content">
        <div id="body" ng-controller="MainCtrl" role="main">
            @RenderBody()
        </div>
        <footer id="footer" role="contentinfo"></footer>
    </div>
    
    @Scripts.Render("~/bundle/underscore")
    @Scripts.Render("~/bundle/angular")
    @Scripts.Render("~/bundle/app")
    
    @RenderSection("scripts", required: false)
</body>
</html>