<!DOCTYPE html>

<html ng-app="@ViewBag.AngularApp">
<head>
    <title>MoneyFlow - @ViewBag.Title</title>
    @Styles.Render("~/client/css/style")
</head>
<body>
    <div class="content">
        <header id="header" role="banner">
            <a id="logo" href="@Url.Action("Index", "Home")"></a>
            
            <div class="right">
                @if (Request.IsAuthenticated)
                {
                    <span>@User.Identity.Name</span>
                    @Html.ActionLink("out", "sign-out", "Account")
                }

                else
                {
                    @Html.ActionLink("signin via facebook", "SignInExternal", "Account")
                }
            </div>

        </header>
        <div id="body" ng-controller="@ViewBag.MainCtrl" role="main">
            @RenderBody()
        </div>
        <footer id="footer" role="contentinfo"></footer>
    </div>

    @Scripts.Render("~/bundle/underscore")
    @Scripts.Render("~/bundle/jquery")
    @Scripts.Render("~/bundle/angular")
    @Scripts.Render("~/bundle/app")

    @RenderSection("Scripts", required: false)
</body>
</html>