@model LoginViewModel

@using (Html.BeginForm("sign-in", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.TextBoxFor(m => m.UserName, new { placeholder = "email", @class = "top text-center" })
    @Html.PasswordFor(m => m.Password, new { placeholder = "your pass", @class = "top text-center" })
    
    <button class="full-width top btn btn-go">Sign In</button>
    
    <hr />
    <div class="row">
        @Html.ActionLink("Connect with Facebook", "SignInExternal", "Account", null,  new
        {
            @class = "full-width bottom btn"
        })
        
        <a href="javascript:;"
           onclick="window.open('@Url.Action("SignInExternal", "Account")', 'Connect with Facebook', 'width=450, height=300')">
            Connect with Facebook
        </a>
    </div>
}