@model LoginViewModel

@{
    ViewBag.Title = "Sign In";
}

@using (Html.BeginForm(new { returnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    
    @* UserName *@
    <div class="data-row">
            @Html.LabelFor(m => m.UserName)
            @Html.EditorFor(m => m.UserName)
    </div>
    
    @* Password *@
    <div class="data-row">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
    </div>
}